* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Divied Section */
#main {
  display: flex;
  width: 100%;
  height: 100%;
}
#right {
  width: 75%;
}

#left {
  position: relative;
  width: 25%;
}
/* Divied Section End */

/* this is r top Start */
#rtop {
  background-image: url(https://images.pexels.com/photos/4065894/pexels-photo-4065894.jpeg);
  height: 70%;
  background-size: cover;
  background-position: center;
}

#rtop h1 {
  position: absolute;
  margin-top: 60px;
  margin-left: 45px;
}

/* This is rtop End */

/* this is r bottom Start */

#rbottom {
  position: relative;
  height: 30%;
  width: 100%;
  background-color: black;
}

#contend {
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: space-between;

  padding: 35px 150px;
}

#lfetcontnd {
  position: relative;
  width: 45%;
}

#rightcontend {
  width: 45%;

  height: 20px;
}
#lfetcontnd h1 {
  font-size: 22px;
  font-weight: 500;
}

#lfetcontnd p {
  font-size: 12px;
  font-weight: 100;
  opacity: 0.5;
  margin-top: 15px;
}

.row {
  width: 100%;

  display: flex;

  justify-content: space-between;
}
#rowleftcon {
  margin-left: 10px;
}
#rowleftcon h3 {
  font-size: 18px;
  font-weight: 400;
}
#rowleftcon p {
  font-size: 10px;
  font-weight: 100;
  opacity: 0.5;
}
#rowcontend {
  display: flex;
  justify-content: space-between;
}

/* r bottom end */

/* ltop Start Here */
#ltop {
  padding: 100px;
  height: 70%;
  color: black;
  position: relative;
}
#ancors {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  text-align: center;
}
#ancors a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
#a2 {
  margin-left: 10px;
  width: 100%;
}

#a2::before {
  content: "-";
  left: 50px;
  bottom: 78px;
  position: absolute;
}

#iconltop {
  display: flex;
  flex-direction: column;
  margin: 6px;
  gap: 20px;

  margin-left: 190px;
}

/* THIS rtop end */
/* Lbottom Start */

#lbottom {
  height: 30%;
  background-image: url(https://images.pexels.com/photos/213727/pexels-photo-213727.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
#lcontend {
  position: absolute;
  top: 40px;
  left: -20px;
  /* top: 50%;
  bottom: 25%; */
  margin-left: 85px;
  height: 100px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#s1 {
  position: absolute;
  
  background-image: url(https://images.pexels.com/photos/1046348/pexels-photo-1046348.jpeg);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  top: 350px;
}

#arrow{}

#lcontend h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 15px;
}
